@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');

:root {
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  --font-size-small: 12px;
  --font-size-default: 14px;
  --font-size-subhead-default: 20px;
  --font-size-subhead-big: 24px;
  --font-size-header-default: 48px;
  --font-size-header-big: 56px;

  --line-height-small: 1.5;
  --line-height-default: 1.6;
  --line-height-subhead-default: 1.375;
  --line-height-subhead-big: 1.2;
  --line-height-header-default: 1;
  --line-height-header-big: 1;
  
  --foreground-default: #d7d9ee;
  --foreground-dimmer: #9d9db9;
  --foreground-dimmest: #737387;

  --accent-default: #f9c25e;
  --accent-dimmer: #d39a31;
  --accent-dimmest: #b98b37;

  --background-root: #1d1f2f;
  --background-default: #2f3146;
  --background-higher: #3d3f57;
  --background-highest: #52556f;

  --outline-dimmest: #585a74;
  --outline-dimmer: #737691;
  --outline-default: #9193ac;

  --font-family-default: 'Open Sans', sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: var(--foreground-default);
  background-color: var(--background-root);
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}